button {
  padding: 6px 12px;
  border: none;
  background: #333;
  color: #fff;
  border-radius: 8px;
  margin-right: 12px;
  transition: 0.2s;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: 0.2s;
}

input {
  padding: 8px 12px;
  border-radius: 8px;
  margin-right: 24px;
  outline: none;
}
span {
  margin-right: 12px;
  background: #fff;
  border-radius: 8px;
  padding: 8px 10px;
  box-shadow: 0 0 12px rgba(133, 133, 133, 0.6);
}

p {
  text-align: center;
  font-weight: bold;
  color: #333;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 16px;
}

.incomplete-area {
  background: peru;
  padding: 12px;
  margin-bottom: 16px;
}
.complete-area {
  background: rgb(117, 178, 235);
  padding: 12px;
}

.error {
  color: red;
}
